---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms of Service">
  <div style="margin: 15px;">
    <h1>Terms of Service</h1>
    <p>
      Welcome to our website. By accessing or using our site, you agree to
      comply with and be bound by the following terms and conditions:
    </p>

    <h2>1. Acceptance of Terms</h2>
    <p>
      By using this website, you agree to these terms of service. If you do not
      agree, please do not use the site.
    </p>

    <h2>2. Use of the Website</h2>
    <p>
      You agree to use the website only for lawful purposes and in a way that
      does not infringe the rights of others.
    </p>

    <h2>3. Intellectual Property</h2>
    <p>
      All content on this website, including text, graphics, and logos, is the
      property of the website owner and is protected by copyright laws.
    </p>

    <h2>4. Limitation of Liability</h2>
    <p>
      We are not responsible for any damages or losses resulting from your use
      of this website.
    </p>

    <h2>5. Changes to Terms</h2>
    <p>
      We reserve the right to update these terms at any time. Continued use of
      the website constitutes acceptance of the updated terms.
    </p>

    <p>If you have any questions about these terms, please contact us.</p>
  </div>
</Layout>
